---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

type AdditionalLink = {
  url: string;
  label: string;
};

interface Props {
  title: string;
  description: string;
  link?: string;
  additionalLink?: AdditionalLink;
  technologies: string[];
  imageUrl: string;
}

const { title, description, link, additionalLink, technologies, imageUrl } =
  Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{png,gif}'
);
---

<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <Image
    src={images[imageUrl]()}
    alt={title}
    class="w-full object-scale-down"
  />
  <div class="flex flex-col gap-4 lg:gap-6 p-4 lg:p-6">
    <h2 class="text-lg md:text-xl font-bold">{title}</h2>
    <p class="leading-snug lg:leading-normal">{description}</p>
    <div class="flex flex-wrap gap-2">
      {
        technologies.map((technology) => (
          <span class="bg-primary text-sm text-white py-1 px-2 md:px-3 rounded-full">
            {technology}
          </span>
        ))
      }
    </div>
    <div class="text-right">
      {
        link && (
          <a href={link} class="text-accent underline">Live Demo</a>
        )
      }
      {
        additionalLink && (
          <>
            {' | '}
            <a href={additionalLink.url} class="text-accent underline">
              {additionalLink.label}
            </a>
          </>
        )
      }
    </div>
  </div>
</div>
