---
import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  project: CollectionEntry<'projects'>['data'];
}

const {
  project: { imageUrl, title, technologies, demoUrl, repoUrl, additionalLink },
} = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{png,gif}'
);
---

<div class="bg-white shadow-md rounded-lg overflow-hidden">
  <Image
    src={images[imageUrl]()}
    alt={title}
    class="w-full object-scale-down"
  />
  <div class="flex flex-col gap-4 lg:gap-6 p-4 lg:p-6">
    <h2 class="text-lg md:text-xl font-bold">{title}</h2>
    <p class="whitespace-pre-line leading-snug lg:leading-normal"><slot /></p>
    <div class="flex flex-wrap gap-2">
      {
        technologies.map((technology) => (
          <span class="bg-primary text-sm text-white py-1 px-2 md:px-3 rounded-full">
            {technology}
          </span>
        ))
      }
    </div>
    <div class="text-sm text-right">
      {
        demoUrl && (
          <>
            <a href={demoUrl} class="text-accent underline">Live Demo</a>{' | '}
          </>
        )
      }
      <a href={repoUrl} class="text-accent underline">GitHub</a>
      {
        additionalLink && (
          <>
            {' | '}
            <a href={additionalLink.url} class="text-accent underline">
              {additionalLink.label}
            </a>
          </>
        )
      }
    </div>
  </div>
</div>
